Repository manytask/checker, pull requests merged in 2023-09, with the labels that each got.

#23 chore: Version updates 2023
  .github/workflows/publish.yml
  .github/workflows/test.yml
  README.md
  checker/__main__.py
  checker/actions/contributing.py
  checker/actions/export.py
  checker/actions/grade_mr.py
  checker/course/__init__.py
  checker/course/config.py
  checker/executors/__init__.py
  checker/executors/sandbox.py
  checker/testers/__init__.py
  checker/testers/python.py
  checker/utils/git.py
  conftest.py
  examples/.course.yml
  examples/base.docker
  pyproject.toml
  setup.cfg
  setup.py
  tests/course/test_config.py
  tests/course/test_driver.py
  tests/course/test_schedule.py
  tests/examples/test_course_configs.py
  tests/examples/test_testers_configs.py
  tests/executors/test_sandbox.py
  tests/testers/test_cpp.py
  tests/testers/test_cpp_course/run-clang-format.py
  tests/testers/test_python.py
Labels: type: chore, type: test, type: ci

#24 fix: pytest double print error
  checker/testers/python.py
  tests/testers/test_python.py
Labels: type: test, type: feature

#25 feat: Single task sourse
  checker/__main__.py
  checker/actions/check.py
  checker/actions/export.py
  checker/actions/grade.py
  checker/actions/grade_mr.py
  checker/course/config.py
  checker/course/driver.py
  checker/course/schedule.py
  checker/exceptions.py
  checker/testers/python.py
  checker/utils/__init__.py
  checker/utils/template.py
  examples/.course.yml
  examples/.deadlines.yml
  tests/course/test_driver.py
  tests/course/test_schedule.py
  tests/utils/test_template.py
Labels: type: test, type: feature

#26 fix: Lectures layout hotfix
  checker/actions/check.py
  checker/actions/grade.py
  checker/course/driver.py
  checker/testers/cpp.py
  checker/testers/make.py
  checker/testers/python.py
  checker/testers/tester.py
  checker/utils/files.py
Labels: type: fix

#27 tests: Manytask api tests and fix testers
  checker/actions/check.py
  checker/actions/grade.py
  checker/course/driver.py
  checker/testers/cpp.py
  checker/utils/manytask.py
  tests/course/test_schedule.py
  tests/testers/test_cpp.py
  tests/testers/test_python.py
  tests/testers/test_tester.py
  tests/utils/test_manytask.py
Labels: type: test

#29 fix get_task_dir_name for lectures layout
  checker/course/driver.py
  tests/course/test_driver.py
Labels: type: test, type: fix

#30 feat: allow using groups layout with cpp tester
  checker/actions/check.py
  checker/actions/grade.py
  checker/testers/cpp.py
  checker/testers/make.py
  checker/testers/python.py
  checker/testers/tester.py
  tests/testers/test_cpp.py
  tests/testers/test_python.py
Labels: type: test, type: feature
